<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org//dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dcms.dao.TeacherMapper">
    <!--查询所有老师-->
    <select id="getAllTeacher" resultType="com.dcms.model.Teacher" parameterType="string">
        select t_id as id, t_password as password, t_phone as phone,t_name as name,
        t_college as college, t_email as email from db_teacher order by t_id ${sort}
    </select>
    <!--查询老师id和名字-->
    <select id="getTeacherNameAndId" resultType="com.dcms.model.Teacher" >
        select t_id as id,t_name as name from db_teacher
    </select>
    <!--通过老师id查询老师-->
    <select id="findTeacherById" resultType="com.dcms.model.Teacher" parameterType="long">
        select t_id as id, t_password as password, t_phone as phone,t_name as name,
        t_college as college, t_email as email from db_teacher where t_id=#{id}
    </select>
    <!--修改老师-->
    <update id="updateTeacher" parameterType="com.dcms.model.Teacher">
        update db_teacher set t_name=#{name},t_phone=#{phone},t_password=#{password},
        t_email=#{email},t_college=#{college} where t_id=#{id}
    </update>
    <!--删除老师-->
    <delete id="deleteTeacher" parameterType="long">
        delete from db_teacher where t_id in
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <!-- <insert id="addTeacher" parameterType="teacher">
         insert into db_teacher(t_name,t_phone,t_password,t_email,t_college)
         values(#{teacher.name},#{teacher.phone},
             #{teacher.password},#{teacher.email},#{teacher.college})
     </insert>-->
    <!--插入老师-->
    <insert id="addTeacher" parameterType="com.dcms.model.Teacher">
        insert into db_teacher(t_name,t_phone,t_password,t_email,t_college)
        values
        <foreach collection="list" item="teacher" separator=",">
            (#{teacher.name},#{teacher.phone},
            #{teacher.password},#{teacher.email},#{teacher.college})
        </foreach>
    </insert>
</mapper>