<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org//dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dcms.dao.TeacherMapper">
    <select id="getAllTeacher" resultType="teacher" parameterType="string">
        select t_id as id, t_password as password, t_phone as phone,t_name as name,
        t_college as college, t_email as email from  db_teacher order by t_id ${sort}
    </select>
    <update id="updateTeacher" parameterType="teacher">
        update db_teacher set t_name=#{name},t_phone=#{phone},t_password=#{password},
        t_email=#{email},t_college=#{college}  where t_id=#{id}
    </update>
    <delete id="deleteTeacher" parameterType="long">
        delete from db_teacher where t_id in
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <insert id="addOrUpdateTeacher" parameterType="teacher">
        replace into db_teacher(t_id,t_name,t_phone,t_password,t_email,t_college)
        values
        <foreach collection="list" item="teacher" separator=",">
            (#{teacher.id},#{teacher.name},#{teacher.phone},
           #{teacher.password},#{teacher.email},#{teacher.college})
        </foreach>
    </insert>
</mapper>